.navbar{
    width: 100%;
    background-color: #1E7A93;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;

    /*color: #fff !important;*/
}
.logo, .logo:hover{
    height: 60px;
    width: 300px;
    margin-left: 48px;
    filter:brightness(100%) !important;
    /*background: url("/logo2-03.png") !important;*/
}
.logo{
    background-image: url("../logo4-03.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.menu{
    height: 100%;
    display: flex;
    margin-right: 48px;
}
.menu a{
    height: 100%;
    width: 100px;
    color: #fff;
    background-color: #1E7A93;
    margin: 0 12px 0 12px;
    font-weight: 500;
}


/*HAMBURGER*/
label{
    color: #fff;
    width: 80px;
    display: flex;
    justify-content: center;
    background-color: #1E7A93;
    align-items: center;
    transition: transform 0.5s;
}

.navbar label:hover{
    filter:brightness(90%);
    cursor: pointer;
}
.navbar input:checked + label ~ .menu-toggle-items{
    display: flex;
    z-index: 1;
}

.menu-toggle-items{
    width: 100%;
    position: absolute;
    /*background-color: #1E7A93;*/
    display: none;
    flex-direction: column;
    margin-top: 60px;

}
.menu-toggle-items a {
    color: #fff;
    width: 100%;
    padding: 24px;
    font-weight: 500;
    background-color: #1E7A93;
    filter:brightness(110%);
}


/*hiding checkbox*/
input[type="checkbox"] {
    display: none !important;
}




@media only screen and (min-width: 768px) {
    label, input, .menu-toggle, .menu-toggle-items, .menu-toggle-items a{
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .menu{
        display: none;
    }
}